*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-zinc0: #18181b;
  --clr-amber: #fbbf24;
  --clr-red: #dc2626;
  --clr-emerald: #34d399;
}

body {
  min-height: 100vh;
  background-color: var(--clr-zinc-900);
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
}

.reproductor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  height: 150px;
  border: 2px solid black;
}

.reproductor .display {
  height: 180px;
  width: 100%;
  background-color: white;
}

.reproductor .buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 4px;
}

.reproductor button {
  cursor: pointer;
}

.reproductor .prev-btn,
.reproductor .next-btn {
  height: 30px;
  width: 60px;
  background-color: var(--clr-amber);
  border: none;
  border-radius: 6px;
  color: #000;
  font-weight: bold;
}

.reproductor .play-btn {
  height: 30px;
  width: 60px;
  border: none;
  border-radius: 6px;
  background-color: var(--clr-emerald);
  font-weight: bold;
}

.reproductor .stop-btn {
  height: 30px;
  width: 60px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  background-color: var(--clr-red);
}
